@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');


body {
    background-color: #C4B9A4;
    color: rgb(32, 43, 53);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-image: linear-gradient(#C4B9A4, rgb(216, 209, 205), rgb(117, 106, 99));
}

.titlepage{
    font-family: 'Righteous';
    font-size: 3.3em;
}

.photo{
    padding: 3em;
    padding-bottom:1em;
}

a{
    text-decoration: none;
}

h2{
    font-weight: 400;
    color: white;
    font-size: 3.4em;
    padding-top: 1.2em;
    font-weight: 500;
}

h3{
    font-weight: 200;
    font-size: 2.5em;
}

.listone{
    list-style: none;
}

.listone > li {
    padding-top:1em;
    padding-bottom:1em;
}

.listtwo{
    list-style: none;
}

.listthree{
    list-style: none;
    font-weight: 400;
    padding-left: 0px;
}

.listthreeitem{
    list-style: none;
}

.listthreeitem a{
    font-size: 1.5em;
    text-align: center;
    padding: 0%;
    margin: 0%;
    display: block;
    text-decoration: none;
    padding-top:.5em;
    padding-bottom:.5em;
}




.portfolio-title{
    color:white;
}

li a{
    text-decoration: none;
    text-align: center;
    margin-right: 2.5em;
}

li a strong{
font-weight: normal;
}

li a em{
font-style: normal;
}


.boldme {
text-decoration: none;
font-family: 'righteous', 'Courier New', Courier, monospace;
font-size: 1.2em;
color:rgb(116, 116, 116);
}

.categories{
text-decoration: underline;
color: rgb(100, 100, 100);
padding-top:3em;
padding-bottom:1em;
}

.particular{
text-decoration: underline;
color: #646464;
}

.background-color{
background-color: rgb(221, 216, 210);
}

.socialmedia {
    text-align: center;
    list-style: none;
    text-decoration: none;
}

.social {
    border-style: solid;
    border-radius: 6em;
    border-color: white;
    border-width: 0.2em;
    width: 18%;
    display: inline-block;
    margin-right: 9%;
    
}

.listthreeitem {
    font-size: 3em;
}

.listtwo li{
    display: inline-block;
    grid-template-columns: 1fr,1fr;
    padding:1.4em;
}
    
.listtwo{
    background-color:  rgba(221, 216, 210, 0.5);
    padding: 0em;
    padding-bottom:4em;
    padding-top:4em;
}
    

.input {
    text-align: center;
    font-size: 3.5em;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    padding:.4em;
    margin:auto;
    margin-top: 1em;
    margin-bottom: 1em;
    
  }


.contact-title{
    padding-top: 2em;
    color: white;
    font-size: 4em;
    text-align: center;
}


.send-button{
    padding: 1.6em;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 5em;
    font-size: 2em;
    text-align: center;
    color: #646464;
    border-radius: 1em;
    font-weight: 800;
}

.contact-info{
    text-align: center;
    font-size:2.2em;
}

.copyright{
    padding:3em;
}